<template>
  <div id="content">
    <form action="#" method="post">
      <table class="table editPage">
        <tr>
          <td><label for="displayName">Họ và Tên</label></td>
          <td><input type="text" class="form-control" value="Nguyễn Văn A" name="displayName" id="displayName" /></td>
        </tr>
        <tr>
          <td><label for="username">Tên tài khoản</label></td>
          <td><input type="text" class="form-control" value="nguyenvana" name="username" id="username" /></td>
        </tr>
        <tr>
          <td><label for="phoneNumber">Số Điện Thoại</label></td>
          <td><input type="text" class="form-control" value="0961811794" name="phoneNumber" id="phoneNumber" /></td>
        </tr>
        <tr>
          <td><label for="email">Email</label></td>
          <td><input type="text" class="form-control" value="1513804@hcmut.edu.vn" name="email" id="email" /></td>
        </tr>
        <tr>
          <td><label for="sex">Giới tính</label></td>
          <td>
            <select id="sex" class="form-control">
              <option selected>Nam</option>
              <option>Nữ</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><label for="birthDate">Ngày sinh</label></td>
          <td><input type="date" class="form-control" name="birthDate" id="birthDate" /></td>
        </tr>
        <tr>
          <td colspan="2" style="text-align: center;">
            <button type="button" class="btn button-info">Hủy</button>
            <button type="button" class="btn button-info">Cập nhật</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
</template>