<template>
  <div id="content" class="vld-parent py-4">
    <div class="feature-content d-flex justify-content-between p-2">
			<input class="form-control search" v-model="textSearch" placeholder="Nhập Nội Dung  tìm kiếm"/>
		</div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th width="100px">ID</th>
          <th>Họ và Tên</th>
          <th>Địa Chỉ</th>
          <th>Số Điện Thoại</th>
          <th>Email</th>
          <th>Thao Tác</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) of getlistData()" :key="index">
          <td>{{ item.uid }}</td>
          <td>{{ item.userName }}</td>
          <td>{{ item.address }}</td>
          <td>{{ item.phone }}</td>
          <td>{{ item.email }}</td>
          <td>
            <button type="button" @click="deleteItem(item.uid)" class="btn button-delete">Xóa</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>


<script>

import { getAllUser, deleteUser } from '@/services/user';

export default {
  name: 'ListUser',
  props: {
    msg: String
  },

	data(){
		return {
			listData: [],
      textSearch: ''
		}
	},

  methods:{
		getlistData(){
			return this.listData.filter(item => {
				return item.email.toLocaleLowerCase().indexOf(this.textSearch.toLocaleLowerCase()) !== -1
			})
		},

    async getAllUser() {
      this.submitted = true;
			
      let loader = this.$loading.show({ container:  this.$refs.content });
      this.listData = await getAllUser()
				.then(res => res.error ? [] : res)
				.catch(() => [])
				.finally(() => loader.hide())
    },

		async deleteItem(id){
			const r = confirm("Xác nhận xoá!");
			if (r == true) {
				let loader = this.$loading.show({ container:  this.$refs.content });
				const result = await deleteUser(id)
					.catch(() => loader.hide())
				if(result.error)  this.$toast.error(result.error)
				else {
					this.$toast.success(result.message)
					await this.getAllUser();
				}
				loader.hide()
			}
		},

  },

   mounted(){
     this.getAllUser()
   }

}
</script>
