.sidebar-menu {
  width: fit-content;
  min-width: 205px;
  min-height: calc(100vh - 116px);
  border-right: 1px solid #000;
  background: rgba(0, 0, 0, 0.05);
  mix-blend-mode: normal;
  .router-link-active {
    color: #FF4D00 !important;
    font-weight: 700;
    &:hover {
      font-size: 14px !important;
    }
  }
  .sidebar-element {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    &_name {
      font-size: 14px;
      line-height: 50px;
      width: 100%;
      margin: auto;
      align-items: center;
      text-align: center;
      text-transform: capitalize;
      color: #878787;
      text-decoration: none !important;
      transition: 0.2s ease-out;
      &:hover {
        font-size: 15px;
        color: #212529;
        transition: 0.2s ease-in;
      }
    }
  }
}