<template>
  <div id="content" class="vld-parent py-4">
    <div class="feature-content d-flex justify-content-between p-2">
			<input class="form-control search" v-model="textSearch" placeholder="Nhập Nội Dung  tìm kiếm"/>
		</div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Mã ĐH</th>
          <th>Khách hàng</th>
          <th>Ngày đặt hàng</th>
          <th>Địa Chỉ</th>
          <th>Tổng tiền</th>
          <th width="150px">Trạng thái</th>
          <th>Xem chi tiết</th>
        </tr>
      </thead>
      <tbody>
        <tr  v-for="(item, index) of getlistData()" :key="index">
					<td>{{ item.id }}</td>
					<td>{{ item.name }}</td>
					<td>{{ converTime(item.time) }}</td>
          <td>{{ item.address }}</td>
          <td>{{ formatPrice(+item.totalPrice2 || 0) }} đ</td>
					<td>
            <select class="form-control input-status" @change="changeStatusOrder($event.target.value, item.id, item.uid)">
              <option :selected="item.status === '1' "  value="1">Chờ xác nhận</option>
              <option :selected="item.status === '2' " value="2">Đang tiến hành</option>
              <option :selected="item.status === '3' " value="3">Đã hoàn thành</option>
            </select>
          </td>
          <td>
            <router-link :to="`/detail-order/${ item.id }`">
              <button type="button" class="btn button-info">Chi tiết</button>
            </router-link>
          
          </td>
				</tr>
      </tbody>
    </table>
  </div>
</template>


<script>

import { getAllCart, updateStatus } from '@/services/order';

export default {
  name: 'ListOrder',
  props: {
    msg: String
  },

	data(){
		return {
			listData: [],
      textSearch: ''
		}
	},

  methods:{
		getlistData(){
			return this.listData.filter(item => {
				return (
          item.name.toLocaleLowerCase().indexOf(this.textSearch.toLocaleLowerCase()) !== -1
          || item.id.toLocaleLowerCase().indexOf(this.textSearch.toLocaleLowerCase()) !== -1
          || item.address.toLocaleLowerCase().indexOf(this.textSearch.toLocaleLowerCase()) !== -1
        )
			})
		},

    converTime(time){
      let currency = "/";
      let fullDate = new Date(+time);

      let dd   = fullDate.getDate();
      if( dd < 10 )  dd = '0' + dd;

      let mm   = fullDate.getMonth() + 1;
      if( mm < 10 )  mm = '0' + mm;

      let yyyy   = fullDate.getFullYear();

      return dd + currency + mm + currency + yyyy;
    },

    formatPrice(n, currency, fix = 1) {
      if(!currency) currency = "";
      if(!n || n === 0) return 0 + ` ${currency}`;
      return n.toFixed(fix).replace(/(\d)(?=(\d{3})+\.)/g, '$1,') + ' ' + currency;
    },

    async getCart() {
      this.submitted = true;
			
      let loader = this.$loading.show({ container:  this.$refs.content });
      this.listData = await getAllCart()
				.then(res => res.data)
				.catch(() => [])
				.finally(() => loader.hide())
    },

    async changeStatusOrder(status, id, uid){
      const confi = confirm("Bạn muốn update trạng thái đơn hàng!")
      if(confi){
        let loader = this.$loading.show({ container:  this.$refs.content });
        await updateStatus({status, id, uid})
				.then((res) => {
          if(res.status === "ok")
            this.$toast.success(res.message)
          else this.$toast.error(res.message)
        })
				.catch(() => [])
				.finally(() => loader.hide())
      }
      console.log(confi, event, id)
    }


  },

   mounted(){
     this.getCart()
   }

}
</script>