<template>
  <footer class="page-footer font-small blue bg-dark navbar-dark">
    <div class="container">
      <p><strong>TEA24H</strong> © 2020 Copyright: <a href="#"> Nhóm 8</a></p>
    </div>
  </footer>
</template>