<template>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark ml-auto mb-0 w-100 p-0">
    <div class="container-fluid pl-0">
      <a class="navbar-brand d-flex justify-content-center">
        
      </a>
      <button type="button" @click="onSignOut()" class="btn sign-out">ĐĂNG XUẤT</button>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'Header',
  props: {
    msg: String
  },

  methods:{
    async onSignOut() {
      localStorage.removeItem("TOKEN")
      this.$router.push({name: 'login'})
    }
  },


}
</script>
