<template>
  <div class="login w-100 vld-parent"  ref="content">
    <div class="content d-flex justify-content-center">
      <div class="card p-5">
        <div class="title">ĐĂNG NHẬP</div>
        <form autocomplete="off" action="#" method="post" @submit.prevent="onSignIn">
          <div class="input-field">
            <input id="email" type="text" autocomplete="off" class="validate" v-model="user_sign_in.email" placeholder="Email" :class="{ 'is-invalid': submitted && $v.user_sign_in.email.$error }">
            <div v-if="submitted && $v.user_sign_in.email.$error" class="invalid-feedback">
              <span v-if="!$v.user_sign_in.email.required"> {{ 'Vui lòng nhập email của bạn.' }} </span>
              <span v-if="!$v.user_sign_in.email.email"> {{ 'Email hoặc mật khẩu của bạn không chính xác.' }}</span>
            </div>
          </div>
          <div class="input-field">
            <input id="password" type="password" autocomplete="off" class="validate" v-model="user_sign_in.password" placeholder="Mật Khẩu" :class="{ 'is-invalid': submitted && $v.user_sign_in.password.$error }">
            <div v-if="submitted && $v.user_sign_in.password.$error" class="invalid-feedback">
              <span v-if="!$v.user_sign_in.password.required"> {{ 'Vui lòng nhập mật khẩu.' }} </span>
            </div>
          </div>
          <div class="form-group">
            <input type="submit" value="ĐĂNG NHẬP" class="btn btn-login px-4 py-3">
          </div>
        </form>
      </div>
    </div>
    <div class="space" />
    <Footer />
  </div>
</template>

<script>
import { required, email } from "vuelidate/lib/validators";
import { Login } from '@/services/account';
import Footer from '@/components/Footer'

export default {
  name: 'Login',
  components: {
    Footer
  },
  props: {
    msg: String
  },
  data () {
    return{
      user_sign_in: {
        email: "",
        password: "",
        
      },
      submitted: false,
    }
  },
  validations: {
    user_sign_in: {
      email: {required, email},
      password: {required}
    }
  },

  methods:{
    async onSignIn() {
      this.submitted = true;
      this.$v.user_sign_in.$touch()
      if (this.$v.user_sign_in.$invalid) {
        return;
      }
      let loader = this.$loading.show({ container:  this.$refs.content });
      Login({
        email: this.user_sign_in.email,
        password: this.user_sign_in.password
      })
      .then((data) => {
        this.$toast.success("Login success")
        localStorage.setItem("TOKEN", JSON.stringify(data))
        this.$router.push({name: 'admin'})
        
      })
      .catch(() => {
        this.$toast.error("Login fail")
      })
      .finally(() => loader.hide())
    },

    checkLogin(){
      let token = null;
      try{
        token = JSON.parse(localStorage.getItem("TOKEN"))
      }catch(e){console.log(e)}
      if(token){
        this.$router.push({name: 'admin'})
      }
    }
  },

   mounted(){
     this.checkLogin()
   }

}
</script>