<template>
  <div id="content" class="vld-parent py-4">
		<div class="feature-content d-flex justify-content-between p-2" v-if="!isCreated">
			<input class="form-control search" v-model="textSearch" placeholder="Nhập Tên Danh Mục tìm kiếm"/>
			<button type="button" class="btn create-new" @click="isCreated = true">Tạo Mới</button>
		</div>
    <table class="table table-hover" v-if="!isCreated">
      <thead>
        <tr>
          <th>Mã Danh Mục</th>
          <th>Tên Danh Mục</th>
          <th>Chỉnh Sửa</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item, index) of getlistCate()" :key="index">
					<td>{{ item.id }}</td>
					<td v-if="!dataEdit || (dataEdit && dataEdit.id !== item.id)">
						{{ item.name }}
					</td>
					<td v-if="dataEdit && dataEdit.id === item.id">
						<input class="form-control" v-model="dataEdit.name" placeholder="Nhập Tên Danh Mục"/>
					</td>
					<td v-if="!dataEdit || (dataEdit && dataEdit.id !== item.id)">
						<button type="button" @click="dataEdit = item" class="btn button-info">Sửa</button>
						<button type="button" @click="deleteItem(item.id)" class="btn button-delete">Xóa</button>
					</td>
					<td v-if="dataEdit && dataEdit.id === item.id">
						<button type="button" @click="editItem()" class="btn button-info">Đồng Ý</button>
						<button type="button" @click="dataEdit = null" class="btn button-delete">Huỷ</button>
					</td>
				</tr>
      </tbody>
    </table>

		<form v-if="isCreated" class="create p-3 text-left" @submit.prevent="createItem()">
			<div class="form-group text-left">
				<label>Tên Danh Mục</label>
				<input class="form-control" v-model="dataCreate.name" placeholder="Nhập Tên Danh Mục">
			</div>
			<button type="submit" class="btn button-info mr-2">Đồng Ý</button>
			<button type="submit" class="btn button-delete" @click="isCreated = false">Huỷ</button>
		</form>

  </div>
</template>


<script>

import { getAllCategory, deleteCategory, updateCategory, createCategory } from '@/services/category';
export default {
  name: 'CateList',
  props: {
    msg: String
  },

	data(){
		return {
			listCate: [],
			dataEdit: null,
			textSearch: '',
			isCreated: false,
			dataCreate: {
				name: ''
			}
		}
	},

  methods:{
		getlistCate(){
			return this.listCate.filter(item => {
				return item.name.toLocaleLowerCase().indexOf(this.textSearch.toLocaleLowerCase()) !== -1
			})
		},

    async getAllCate() {
      this.submitted = true;
			
      let loader = this.$loading.show({ container:  this.$refs.content });
      this.listCate = await getAllCategory()
				.then(res => res.data)
				.catch(() => [])
				.finally(() => loader.hide())
    },

		async deleteItem(id){
			const r = confirm("Xác nhận xoá!");
			if (r == true) {
				let loader = this.$loading.show({ container:  this.$refs.content });
				const result = await deleteCategory(id)
					.catch(() => loader.hide())
				if(result.status === 'error')  this.$toast.error(result.message)
				else {
					this.$toast.success(result.message)
					await this.getAllCate();
				}
				loader.hide()
			}
		},

		async editItem(){
			const data = this.dataEdit;
			
			if(!data.name.length) this.$toast.error('Tên không được trống!')
			else{
				let loader = this.$loading.show({ container:  this.$refs.content });
				const result = await updateCategory(data)
					.catch(() => loader.hide())
				if(result.status === 'error')  this.$toast.error(result.message)
				else {
					this.$toast.success(result.message);
					this.dataEdit = null;
					await this.getAllCate();
				}
				loader.hide()
			}
		},

		async createItem(){
			const data = this.dataCreate;
			data.id = (+(new Date())).toString();

			if(!data.name.length) this.$toast.error('Tên không được trống!')
			else{
				let loader = this.$loading.show({ container:  this.$refs.content });
				const result = await createCategory(data)
					.catch(() => loader.hide())
				if(result.status === 'error')  this.$toast.error(result.message)
				else {
					this.$toast.success(result.message);
					this.dataCreate = {name: ''};
					this.isCreated = false;
					await this.getAllCate();
				}
				loader.hide()
			}
		}
  },

   mounted(){
     this.getAllCate()
   }

}
</script>